<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SecurityEditorCSTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <SecurityEditorCSTester.Properties.Settings>
            <setting name="objName" serializeAs="String">
                <value />
            </setting>
            <setting name="dispName" serializeAs="String">
                <value />
            </setting>
            <setting name="svrName" serializeAs="String">
                <value />
            </setting>
            <setting name="flags" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dlgFlags" serializeAs="String">
                <value>0</value>
            </setting>
        </SecurityEditorCSTester.Properties.Settings>
    </userSettings>
</configuration>
